<nav class="navbar navbar-default navbar-fixed-top">
    <div class=container>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-example-navbar-collapse-1" aria-expaned="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-th" aria-hiden="true"></span>
          </a>
    </div>
    
 </nav>
